[defaults]
inventory = inventory.ini
remote_user = ubuntu
private_key_file = ~/.ssh/devops-launchboard-key.pem
host_key_checking = False
interpreter_python = auto_silent
roles_path = roles

[privilege_escalation]
become = True
become_method = sudo
